body {
    margin: 0;
    padding: 0;
    padding-top: 56px;
    
    
}

header, main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentColor;
    
}

.nav-item {
    list-style: none;
}


.inicio {
    background-image: url(imagens/titulo1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
       
}

.titulo {
    padding: 5%;
    color: white;
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.p1titulo {
    padding-left: 5%;
    padding-bottom: 2%;
    color: white;
    max-width: 70%; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.titulo2 {
    margin: 3%;
    padding: 0,5%;
    text-align: center;
    background-color: #4b86af;
    color: white;
}

.cards {
    margin: 5%;
    text-align: center;     
}


.sec2 {
    margin: 5%;
    text-align: center;
}

.tituloqs {
    margin: 3%;
    margin-bottom: 0%;
    padding: 0%;
    text-align: center;
    background-color: #4b86af;
    color: white;

}

.imgsec2 {
    width: 100%;
    object-fit:contain;
}


.parrafosec2 {
    color: white;
    
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.623);
    max-height: 50%;
    border-radius: 2%;
    
}




.s1, .s2 , .s3 {
    background-color: rgba(0, 0, 0, 0.233);
    
}

.imgslide {
    max-height: 70vh;
    object-fit: cover;
    min-height: 60vh;

}

.sec3 {
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    background-image: url(imagens/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.titulo4 {
    margin: 3%;
    padding: 0,5%;
    display: flex;
    justify-content: center;
    background-color: #4b86af;
    color: white;
}


.formulario {
    margin: 5%;
    padding: 2%;
    max-width: 80vw;
    background-color: rgba(10, 10, 10, 0.548);
    box-shadow: 2px 2px 5px ;
    
    

}

.titulosInput {
    
    margin-bottom: 2%;
    text-align: left;
    color: white;
}

#nombre, #celular, #correo, #empresa, #mensaje {
   width: 100%;
   background-color: rgba(255, 255, 255, 0.658);
}

#mensaje {
    max-height: 200px;
    box-sizing: border-box;
}

.btn {
    width: 30%;
}



footer {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    
}

.pft {
    color: white;
    text-align: center;
    font-size: small;
    margin: 0;
    padding: 2%;
}